body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 249, 196);
}

h1 {
    position: absolute;
    top: 70px;
    font-family: 'Brush Script MT', cursive;
    color: #214151;
    font-size: 70px;
    font-weight: lighter;
}

label {
    font-family: Arial, 'Times New Roman', Times, serif;
}

button {
    font-size: 15px;
}

#clearButton {
    font-weight: bolder;
    margin-top: 10px;
    padding: 10px;
    width: 100px
}

.grid-container {
    display: inline-grid;
    border: 1px solid black;
    height: 450px;
    width: 450px;
};
